tbody {
  tr {
    background-color: white;
    border-bottom: 1px solid #e5e7eb;
    cursor: pointer;
    &:hover{
      background-color: #f3f4f6;
    }
  }

  td {
    padding: 1.2rem 0.8rem 1.2rem 1.5rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
